# PHPUnit
.phpunit.result.cache
/.phpunit.cache

# Laravel specific
.env
.env.*
/vendor
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/public/storage

# Node / Frontend
/node_modules
/public/build
/public/hot
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json  # Optional: チーム方針による

# IDE / OS / CI
/.idea
/.vscode
/.fleet
.DS_Store
*.swp
*.swo
*.bak

# Homestead (optional)
Homestead.json
Homestead.yaml

# Composer authentication
auth.json
